.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  max-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.main-container{
  min-height: 92vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.form-container{
  height: 100%;
  min-height: 92vh;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: yellow; */
}

form{
  width: 75%;
  min-width: 355px;
  max-width: 450px;
}

.input-container{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.input-container > label{
  font-size: 20px;
}
input{
  font-size: 20px;
  padding: 5px;
  border: none;
  border-radius: 2px;
  color: black;
  background-color: #b8b8b8;
  max-width: 300px;
}
input:focus{
  outline: none;
}

.gender{
  justify-content: left;
}

.gender-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 110px;
}

button{
  margin: 10px;
  background-color: #529432;
  border: none;
  font-size: 15px;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

button:hover{
  background-color: #427528;
}

hr{
  width: 2px;
  height: 70vh;
  background-color: #282c34;
}

.view-container{
  height: 100px;
  min-width: 60%;
  max-width: 70%;
  min-height: 58vh;
  /* max-height: 82vh; */
  /* background-color: pink; */
  overflow-y: auto;
  display: flex;
  justify-content: center;
}
.view-container thead th {
  position: sticky;
  top: 0;
  min-height: 40px !important;
  font-size: large;
}
table {
  border-collapse: collapse;        
  width: 80%;
}
tr{
  max-height: 20px !important;
}
th, td {
  padding: 8px 15px;
  /* border: 2px solid #529432; */
}
th {
  background: #ABDD93;

}
.left{
  padding: 0;
  min-width: 200px;
  min-height: 10px; 
}
.left p, .left h3{
  margin: 0;
}

.right{
  min-width: 20%;
  max-width: 40%;
  padding: 0;
}
.student-container {
  border-bottom: 1px solid #529432;;
}
.student-container .left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 20px;
  min-height: 202px;
  padding: 10px;
}
.student-container .left h3, .student-container .left p{
  margin: 2px;
}

.student-container .right img{
  height: 170px;
  width: 130px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
